<!DOCTYPE html>
<html lang="sv">

<head>
  <meta charset="UTF-8">
  <title>Kino Bio</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<!--Main layout page -->
<body>

  {{> header}}
  <h1>The Movie Site</h1>
 
  <main class="content">
    {{{body}}}
  </main>
  {{> footer}}
  
<script type="module" src="/js/index.js"></script>
</body>

</html>