 <footer>
    <section class="footer__container">
      <section class="footer__content">
        <div class="footer__section footer__section--about">
            <ul class="footer__links">
            {{#each footer}}
              <li class="footer__list" id="{{id}}">
              <a href="{{link}}">{{label}}</a>
              </li>
            {{/each}}

            </ul>
          
          
          
          {{!-- <div class="footer__about"></div>
          <h3>Om oss</h3>
        
            <li><a href="#">Jobba hos oss</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Om Kino</a></li>
            <li><a href="#">Filmfestivalen</a></li>
            <li><a href="#">Hitta hit</a></li>
          </ul> --}}
        </div>

        <div class="footer__section footer__section--other">
          <div class="footer__other"></div>
          <h3>Övrigt</h3>
          <ul class="footer__terms">
            <li><a href="#">Köpvilkor</a></li>
            <li><a href="#">Integritetspolicy</a></li>
            <li><a href="#">Åldersgränser</a></li>
            <li><a href="#">Tillgänglighet</a></li>
          </ul>
        </div>

        <div class="footer__section footer__section--contact">
          <div class="footer__contact"></div>
          <h3>Hjälp & Kontakt</h3>
          <ul class="footer__info">
            <li><i class="fas fa_map_marker_alt"></i> <a
                href="https://maps.google.com/?q=Storgatan 12, 123 45 Lycksele">Storgatan 12, 123 45
                Lycksele</a></li>
            <li><i class="fas fa_phone"></i> <a href="tel:+46950xxxxxxxx">+46 950-xxxxxxxx</a></li>
            <li><i class="fas fa_envelope"></i> <a href="mailto:info@kino.com">info@kino.com</a></li>
          </ul>
        </div>

        <div class="footer__section footer__section--social">
          <div class="footer__social"></div>
          <h3>Sociala medier</h3>
          <div class="footer__icons">
            <div class="social">
              <a href="#" aria-label="X"><i class="fa-brands fa-x-twitter"></i></a>
              <a href="#" aria-label="Facebook"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="#" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
            </div>
          </div>
        </div>

        <div class="footer__section footer__section--extra">
          <div class="footer__extra">
            <div class="footer__row">
              <div class="newsletter">
                <h3 class="newsletter__title">Nyhetsbrev</h3>
                <input class="newsletter__input" type="email" placeholder="you@example.com">
                <button class="newsletter__submit" type="submit">Anmäl dig</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </footer>
  
  <!--TRAILER MODAL-->
  <div id="trailerModal" class="trailer-modal hidden">
    <div class="trailer-modal__backdrop"></div>
    <div class="trailer-modal__content">
      <button class="trailer-modal__close" type="button">✕</button>

      <iframe id="trailerIframe" width="100%" height="450" src="" frameborder="0" allow="autoplay; encrypted-media"
        allowfullscreen>
      </iframe>
    </div>
  </div>