<!-- Page for all movies -->

  <div class="movie-card movie-card--special">
  <ul>

    {{#each movies }}
    <li>
      <a href="/movies/{{ this.id }}">
       <h1 class="movie-card__title">{{ this.title }}</h1>
      </a>
    </li>
    {{/each}}
  </ul>  <a href="index.html" class="movie-card__link">Tillbaka till startsida</a>