<!-- Page for all movies -->
<div class="movie-card ">
  <ul>

    {{#each movies }}
    <li>
      <a href="/movies/{{ this.id }}">
        <h3 class="movie-card__title">{{ this.title }}
          {{ movie.image }}
      </a>
    </li>
    {{/each}}
  </ul>  <a href="index.html" class="movie-card__link">Tillbaka till startsida</a>