@use '../lib/variables_mixins' as *;

.bistro {
    img {
        width: 100%;
        border-radius: $bistro-radius;
        margin-bottom: 2rem;
    }
}

.bistro-products{
    // background-color: greenyellow;
    border: 1px solid $dark-text;
    border-radius: $bistro-radius;
    padding: 3vh 1vw;
    width: 83vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: $gap-md;
    margin: auto;

    &__product {
        // background-color: red;
        a {
            display: grid;
            grid-template-rows: 1fr auto;
            text-decoration: none;
            color: $dark-text;
        }
        img{
            max-width: 40vw;
            min-width: 15rem;
            border-radius: $border-radius;
            @include small-screen {
                max-width: none;
                min-width: none;
                width: 100%;
            }
        }
        // max-width: 26rem;
    }

    &__description {
        text-align: center;
        white-space: wrap;
        margin-bottom: 2.5rem;
        @include small-screen {
            font-size: 1rem;
        }
    }
}

.breakfast-movie {
    text-align: center;
    &__text-info {
        text-align: left;
        margin: auto;
        width: 80%;
        // font-size: 1.2rem;
    }
    &__img {
        width: 80%;
        border-radius: $bistro-radius;
    }
    &-choices {
        margin: auto;
        max-width: 80%;
        display: grid;
        // justify-content: center;
        justify-items: center;
        grid-template-columns: 25% 25% 25% 25%;        
        column-gap: 0.4rem;
        row-gap: 2rem;
        // padding: 2rem;
        &-header {
            text-decoration: underline;
            grid-column-start: 1;
            grid-column-end: 5;
            padding-top: 3rem;
        }
        &-image {
            width: 80%;
            // min-width: 80%;
        }
        &-pic {
            max-width: 90%;
        }
        &-selector {
            font-size: 1.2rem;
            input[type=radio] {
                width: 1rem;
                height: 1rem;
                &:checked {
                    color: black;
                }
            }
        }
        &-submit {
            margin: 3rem 0 6rem 0;
            grid-column-start: 2;
            grid-column-end: 4;
            border: 1px solid black;
            border-radius: 0.5rem;
            width: 50%;
            height: 3rem;
            font-size: 1.2rem;
            background-color: white;
        }
    }
}