@use '../lib/variables_mixins' as *;

//  Carousel 
.carousel {
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: 450px;
    margin: 20px auto;
    overflow: hidden;
    border: 5px solid $text-white;
    border-radius: 10px;
    
    &_slide {
        position: absolute;
        inset: 0;
        opacity: 0;
        transition: opacity 0.8s;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 40px;
        pointer-events: none;
        
        &.active {
            opacity: 1;
            pointer-events: auto;
        }
    }
    
    &_control {
        background: $dark-bg;
        color: $text-white;
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 50%;
    }
    
    &_controls_bottom {

        position: absolute;
        bottom: 20px;
        left: 20px;
        display: flex;
        gap: 10px;
        z-index: 1;
        
        i {
            padding-top: 8px;
            font-size: 12px;
            cursor: pointer;
            width: 24px;
            height: 18px;
        }
    }
}
.carousel_controls_bottom {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    gap: 10px;
    z-index: 1; 
}

.day-btn {
    cursor: pointer; 
}


.carousel_nav_btn {
    background: $dark-bg;
    color: $text-white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;   
    height: 35px;  
    z-index: 10;

    &:hover {
        background: $dark-bg;
    }

    i {
        font-size: 14px;
    }
}


.movies_carousel {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;

    &__track {
        display: flex;
        gap: 20px;
        overflow-x: auto;
        scroll-behavior: smooth;
        
        &::-webkit-scrollbar {
            display: none;
        }
        -ms-overflow-style: none;  
        scrollbar-width: none;  
    }
}


.day-selector {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: space-around;
    align-items: center;

    .day-btn {
        background: transparent;
        color: $text-white;
        border: 1px solid $text-white;
        padding: 8px 16px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s;

        &.active, &:hover {
            background: $text-white;
            color: $dark-bg;
        }
    }
}
.movie-details-info {
    padding: 10px;
    background: rgba(0,0,0,0.8);
    color: $text-white;
    font-size: 0.8rem;
    position: absolute; 
    bottom: 50px;
    left: 0;
    width: 100%;
    z-index: 5;
}
.movies-carousel__card {
    position: relative; 
}

.details-btnn {
    font-size: larger; 
}