@use '../lib/variables_mixins' as *;

.header {
    background-color: $dark-bg;
    position: relative;

    &__top {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        height: 79px;
        object-fit: contain;
    }

    &__menu-button {
        background-color: $dark-bg;
        color: $dark-text;
        font-size: 1.6rem;
        border: none;
        cursor: pointer;
    }

    &__nav {
        opacity: 0;
        visibility: hidden;
        transform: scale(0.95);
        transition: opacity 0.4s ease, transform 0.4s ease;
        background-color: $dark-bg;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 3;
        flex-direction: column;
        justify-content: center;
        animation: navfadeandscale .66s cubic-bezier(.53, .52, .04, 1.06) 0s 1 both;

        &--active {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 1;
            visibility: visible;
            transform: scale(1);
        }

        &-logo {
            position: absolute;
            top: 3rem;
            left: 52%;
            transform: translateX(-50%);
            max-width: 270px;
        }

        &-close {
            position: absolute;
            top: 2.5rem;
            left: 1.1rem;
            font-size: 2.3rem;
            border: 0;
            color: $dark-text;
            cursor: pointer;
            background-color: $dark-bg;
        }

        &-list {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; // centrerar vertikalt
            height: 100vh; // tar hela höjden på sidan
            margin-top:170px;
        }

        &-item {
            margin: 0.3rem 0;
            font-size: 1.5rem;
            width: 260px;
            text-align: left;

            a {
                text-decoration: none;
                color: $dark-text;
            }
        }
    }
}

.close-menu {
    font-size: 1rem;
}