@use '../lib/variables_mixins' as *;

// movies.scss


.movie-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease, box-shadow 0.2s ease;


  &__image {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }

  &__title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem;
    color: #c22222;
  }

  &__intro {
    flex-grow: 1;
    margin: 0 1rem 1rem;
    font-size: 0.9rem;
    color: #555;
  }

  &__link {
    display: block;
    text-align: center;
    background: $dark-button;
    color: #fff;
    padding: 0.75rem;
    text-decoration: none;
    font-weight: 600;
    border-top: 1px solid #eee;

    &:hover {
      background: $dark-red-bg;
    }
  }

  // Modifierare
  &--special {
    width: 600px;
    background: #f9f9f9;
margin: auto;
    margin-bottom: 20px;

    .movie-card__title {
      color: #af1111;
      font-size: 1.5rem;
      text-decoration: none;
    }

    .movie-card__image {
      width: 100%;
      height: auto;
    }
  }
}

.header__text {
  text-align: center;
  color: rgb(94, 61, 61);
}

.movie-card__title a {
  color: #ac5656;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
}