@use '../lib/variables_mixins' as *;

/* DEFAULT = DARK MODE */
body {
  background: $dark-bg;
  color: $dark-text;
}

/* LIGHT MODE */
body.light {
  background: $light-bg;
  color: $light-text;
}

.header {
  &__theme-btn {
    position: fixed;
    background: transparent;
    box-shadow: none;
     border: none;
    border-radius: 6rem;
    top: 1.1rem;
    right: 4rem;
    z-index: 5;
    display: flex;
    gap: 0.5rem;
  }
  &__theme {
  background: transparent;   
  box-shadow: none;          
  border: none;
  }

  &__theme-btn--light,
  &__theme-btn--dark {
    width: 2rem;
    height: 2rem; 
    border: none; 
    cursor: pointer;
    display: grid;
    place-items: center;
    padding: 0;
  }
  &__theme-icon {
    width: 3.5rem;
    height: 1.5rem;
    display: block;
  }

/* default = DARK: visa light-knappen (månen) och göm dark-knappen (solen) */
&__theme-btn--dark { display: none; }
&__theme-btn--light { display: inline-grid; }

/* LIGHT mode: visa “till dark” (måne), göm “till light” (sol) */
body.light &__theme-btn--dark { display: inline-grid; }
body.light &__theme-btn--light { display: none; }


&__top {
   background: $dark-bg;
  color: $light-text;
}
/* LIGHT mode */
body.light &__top {
 background: $light-bg;
  color: $dark-text;
}
/* DARK mode */
&__menu-button {
  background: transparent;
  color: $dark-text;
}
/* LIGHT mode */
body.light &__menu-button { 
   background: $light-bg;
  color: $light-button;
}

&__nav-close {
  background: transparent;
  color: $dark-text;
}
/* LIGHT mode */
body.light &__nav-close {
  background: transparent;
  color: $light-button;
}

body.light &__nav {
  background: $light-menu;
}
/* DARK */
body.dark {
  .header__nav a { color: $dark-text; }
}

/* LIGHT */
body.light &__nav a {
  color: $dark-bg;      
}
}
/* default (dark)=> visar dark och gömmer light */
.header__logo-light { display: none;}
/* light: byt */
body.light .header__logo { display: none; }
body.light .header__logo-light { display: inline-block; }   



.header__nav-logo-light { display: none; }

body.light .header__nav-logo  { display: none; }
body.light .header__nav-logolight { display: inline-block; } 




/*DARK default */

.footer__container {
  background: $dark-footer;
  color: $dark-text;
}
/* LIGHT mode */
body.light .footer__content {
  background: $light-footer;   
  color: $light-text;
}
body.light .footer__content a {
  color: $light-text;
}





