/* default = dark mode */
:root {
  --bg-color: #EBEDED;
  --text-color: #000000;
}

body.dark {
  --bg-color: #1A0000;
  --text-color: #ffffff;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}
#theme-toggle {
  background: #000;
}

body.dark #theme-toggle {
  background: #ff7000;
}
